<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home_page_style.css">
    <title>Strona główna</title>
</head>
<body>
    <h1>Witaj na stronie głównej!</h1>
    <form>
        <section class="container">
            <h2>Podaj swoje dane</h2>
            <div class="container">
                <label for="age">Podaj swój wiek:</label><br>
                <input type="text" id="age" name="age">
                <button type="submit">Wyślij</button>
            </div>
            <div class="container">
                <label for="height">Podaj swój wzrost:</label><br>
                <input type="text" id="height" name="height">
                <button type="submit">Wyślij</button>
            </div>
            <div class="container">
                <label for="weight">Podaj swóją wagę:</label><br>
                <input type="text" id="weight" name="weight">
                <button type="submit">Wyślij</button>
            </div>
        </section>
    </form>
</body>
</html>