{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Strona główna</title>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center font-sans">
    <section class="container">
        <form>
            <h2>Podaj swoje dane</h2>
            <div class="container">
                <label for="age" class="form-label">Podaj swój wiek:</label><br>
                <input type="text" id="age" name="age" class="form-input">
            </div>
            <div class="container">
                <label for="height" class="form-label">Podaj swój wzrost:</label><br>
                <input type="text" id="height" name="height" class="form-input">
            </div>
            <div class="container">
                <label for="weight" class="form-label">Podaj swóją wagę:</label><br>
                <input type="text" id="weight" name="weight" class="form-input">
            </div>
            <button type="submit" class="form-button">Wyślij</button>
        </form>
    </section>
</body>
</html>